<!--@Author: Leo-->
<!--@CreateTime: 16-9-1 下午2:36-->
<!--@Description: logback打印配置-->
<!--@Blog: http://blog.csdn.net/lc0817-->
<configuration>

    <property name="log.path" value="./log"></property>
    <property name="log.context" value="serviceCenter.configCenter"></property>

    <!-- 设置上下文名称后,可以方便地区分来自不同应用程序的记录 -->
    <contextName>${log.context}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%class.%method:%line]:%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/all/%d{yyyy/MM/dd/HH, aux}/%d{yyyyMMddHH}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%class.%method:%line]:%m%n</pattern>
        </encoder>
    </appender>

    <appender name="UPLOAD" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/upload/%d{yyyy/MM/dd/HH, aux}/%d{yyyyMMddHH}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%thread][%class.%method:%line]:%m%n</pattern>
        </encoder>
    </appender>

    <!-- name代表:该包名下的log会被打印-->
    <!--现在保持和平台一致,所有log打在同一个文件,不分info和error了-->
    <!--注意,STDOUT 只会打印com.yy下打出的日志.-->
    <!--如果在生产环境,则要把root中的appender注释掉.否则会打印到控制台 ,debug时可以打开.-->
    <logger name="cn.yunyichina.log" level="INFO">
        <appender-ref ref="ALL"/>
    </logger>

    <logger name="cn.yunyichina.log.service.searcher.service.UploadService" level="INFO">
        <appender-ref ref="UPLOAD"/>
    </logger>

    <!--打印任意包日志-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
