<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.collectorservice.mapper.CollectedItemMapper">

    <sql id="table">log_collected_item</sql>

    <select id="selectList" parameterType="CollectedItemDO" resultType="CollectedItemDO">
        SELECT * FROM
        <include refid="table"/>
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="id != null">id = #{id} AND</if>
            <if test="collectorId != null">collector_id = #{collectorId} AND</if>
        </trim>
    </select>

</mapper>