<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.redisproxy.mapper.RedisRecordMapper">

    <sql id="table">log_redis_record</sql>

    <select id="selectLastestOne" resultType="RedisRecordDO" parameterType="RedisRecordDO">
        SELECT
            lrr.*
        FROM
            log_mid_collector_redis lmcr,
            log_redis_record lrr
        WHERE
            lmcr.redis_record_id = lrr.id
        AND lmcr.collector_id = #{collectorId}
        ORDER BY
            lmcr.create_time DESC
        LIMIT 1
    </select>

</mapper>