<!DOCTYPE html>
<html lang="zh" xmlns:v-popover="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/lib/element/1.0.7/index.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="vmContainer" style="display: none;">

    <!--查询到的日志 Begin-->
    <el-popover
            ref="popover0"
            width="200"
            trigger="focus"
            content="双击节点,可以下载该分钟的日志(待开发).一个节点下有多个子节点代表:该关键词所在的上下文贯穿了好几个日志文件." style="color:gray;">
    </el-popover>
    <!--查询到的日志 End-->

    <el-col :span="7" class="search-panel">
        <el-tabs :active-name="activedPanel" style="width:100%;" @tab-click="handleTabClick">
            <el-tab-pane label="搜索面板" name="searchPanel">
                <el-form :ref="searchCondition" :model="searchCondition" label-width="80px" label-position="left">
                    <el-form-item label="搜索引擎">
                        <el-radio-group v-model="searchCondition.searchEngineType">
                            <el-radio :label="0" style="margin-right: 1vw;">Keyword</el-radio>
                            <el-radio :label="1" style="margin-right: 1vw;margin-left: 0;">Key Value</el-radio>
                            <el-radio :label="2" class="no-margin">No Index</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="实时日志" v-if="showRealtime">
                        <el-switch on-text="" off-text="" v-model="realtime"></el-switch>
                    </el-form-item>
                    <el-form-item label="模糊搜索" v-show="2 != searchCondition.searchEngineType">
                        <el-switch on-text="" off-text="" v-model="searchCondition.fuzzy"></el-switch>
                    </el-form-item>
                    <el-form-item label="日志节点">
                        <el-col :span="24">
                            <el-select v-model="searchCondition.collector" filterable
                                       placeholder="请选择日志采集节点,支持模糊搜索">
                                <el-option-group
                                        v-for="(collectorList,group) in groupCollectorMap"
                                        :label="group">
                                    <el-option
                                            v-for="collector in collectorList"
                                            :label="collector.name"
                                            :value="collector">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="时间范围">
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="searchCondition.beginDatetime"
                                    type="datetime"
                                    format="yyyy-MM-dd HH:mm"
                                    :disabled="realtime"
                                    placeholder="开始时间">
                            </el-date-picker>
                        </el-col>
                        <el-col class="line center" :span="2">-</el-col>
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="searchCondition.endDatetime"
                                    type="datetime"
                                    :span="11"
                                    :disabled="realtime"
                                    format="yyyy-MM-dd HH:mm"
                                    placeholder="结束时间">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="索引选择" v-show="2 != searchCondition.searchEngineType">
                        <el-col :span="24" v-if="searchCondition.searchEngineType == 0">
                            <el-select v-model="searchCondition.keyword" filterable placeholder="请选择Keyword,支持模糊搜索">
                                <el-option v-for="keyword in collectorKeywordMap[searchCondition.collector.name]"
                                           :label="keyword"
                                           :value="keyword"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="11" v-show="searchCondition.searchEngineType==1">
                            <el-select v-model="searchCondition.key" filterable placeholder="请选择Key">
                                <el-option v-for="key in collectorKeyMap[searchCondition.collector.name]"
                                           :label="key"
                                           :value="key"></el-option>
                            </el-select>
                        </el-col>
                        <el-col class="line center" :span="2" v-show="searchCondition.searchEngineType==1">
                            -
                        </el-col>
                        <el-col :span="11" v-show="searchCondition.searchEngineType==1">
                            <el-input
                                    placeholder="请输入Value"
                                    v-model="searchCondition.value">
                            </el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="关键词" v-show="2 == searchCondition.searchEngineType">
                        <el-input v-model="searchCondition.noIndexKeyword" placeholder="建议使用索引"></el-input>
                    </el-form-item>
                </el-form>
                <el-button
                        class="searchButton"
                        size="large"
                        type="primary"
                        icon="search"
                        style="width:100%;"
                        @click="submit">
                    搜索
                </el-button>
            </el-tab-pane>
            <el-tab-pane label="日志下载" name="downloadPanel">
                <el-form :ref="searchCondition" :model="searchCondition" label-width="80px" label-position="left">
                    <el-form-item label="日志节点">
                        <el-col :span="24">
                            <el-select v-model="searchCondition.collector" filterable
                                       placeholder="请选择日志采集节点,支持模糊搜索">
                                <el-option-group
                                        v-for="(collectorList,group) in groupCollectorMap"
                                        :label="group">
                                    <el-option
                                            v-for="collector in collectorList"
                                            :label="collector.name"
                                            :value="collector">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="实时日志" v-if="showRealtime">
                        <el-switch on-text="" off-text="" v-model="realtime"></el-switch>
                    </el-form-item>
                    <el-form-item label="时间范围">
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="searchCondition.beginDatetime"
                                    type="datetime"
                                    format="yyyy-MM-dd HH:mm"
                                    :disabled="realtime"
                                    placeholder="开始时间">
                            </el-date-picker>
                        </el-col>
                        <el-col class="line center" :span="2">-</el-col>
                        <el-col :span="11">
                            <el-date-picker
                                    v-model="searchCondition.endDatetime"
                                    type="datetime"
                                    :span="11"
                                    format="yyyy-MM-dd HH:mm"
                                    :disabled="realtime"
                                    placeholder="结束时间">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                </el-form>
                <el-button
                        class="searchButton"
                        size="large"
                        type="primary"
                        icon="search"
                        style="width:100%;"
                        @click="submit">
                    搜索
                </el-button>
            </el-tab-pane>
        </el-tabs>
    </el-col>
    <el-col :span="17" style="height:100vh;">
        <el-col class="log-panel">
            <el-col :span="4" style="height:100vh;padding: 1vw 1vw 0 1vw;">

                <div class="panel-tab center" v-popover:popover0 style="cursor: help;">
                    查询到的日志
                </div>
                <el-tree
                        id="foundLogFile"
                        :data="logFileList"
                        :props="defaultProps"
                        :props="defaultProps"
                        :highlight-current=true
                        class="no-border"
                        @node-click="handleNodeClick"
                ></el-tree>
            </el-col>
            <el-col :span="20" style="height:100vh;padding: 1vw 1vw 0 1vw;">
                <div class="panel-tab center">
                    上下文详情
                </div>
                <div class="log-content">
                    {{logContent}}
                </div>
            </el-col>
        </el-col>
    </el-col>


</div>
</body>
<script src="../js/lib/vue/2.1.6/vue.js"></script>
<script src="../js/lib/element/1.0.7/index.js"></script>
<script src="../js/lib/jquery/3.1.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>