<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.CollectorMapper">

    <resultMap id="selectOneResultMap" type="CollectorDO">
        <id property="id" column="lc_id"></id>
        <result property="name" column="lc_name"></result>
        <result property="applicationName" column="lc_application_name"></result>
        <result property="remark" column="lc_remark"></result>
        <result property="createTime" column="lc_create_time"></result>
        <collection property="collectedItemDOList" ofType="CollectedItemDO">
            <id property="id" column="lci_id"></id>
            <result property="name" column="lci_name"></result>
            <result property="collectorId" column="lci_collector_id"></result>
        </collection>
    </resultMap>

    <select id="selectOne" parameterType="CollectorDO" resultType="CollectorDO">
        SELECT
        lc.id AS lc_id,
        lc.`name` AS lc_name,
        lc.application_name AS lc_application_name,
        lc.remark AS lc_remark,
        lc.create_time AS lc_create_time,
        lci.id AS lci_id,
        lci.`name` AS lci_name,
        lci.collector_id AS lci_collector_id
        FROM
        log_collector lc
        LEFT JOIN log_collected_item lci ON lc.id = lci.collector_id
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="applicationName != null">
                lc.application_name = #{applicationName}
            </if>
        </trim>
    </select>

</mapper>