<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.frontEnd.mapper.CollectorMapper">

    <select id="findAllGroupAndCollector"
            resultType="cn.yunyichina.log.component.entity.do_.Group">
		SELECT
			g.id AS 'id',
			g.`name` AS 'name',
			c.id AS 'collector.id',
			c.`name` AS 'collector.name',
			c.service_name AS 'collector.service_name'
		FROM
			`groupPo` g,
			collectorPo c
		WHERE
			c.group_id = g.id
    </select>

    <select id="findCollectorAndItsKeywordIndex" resultType="cn.yunyichina.log.component.entity.do_.Collector">
		SELECT
			c.id AS 'id',
			c.`name` AS 'name',
			c.group_id AS 'group_id',
			c.service_name AS 'service_name',
			ki.id AS 'keywordIndex.id',
			ki.keyword AS 'keywordIndex.keyword'
		FROM
			collector c,
			mid_collector_keyword mck,
			keyword_index ki
		WHERE
			c.id = mck.collector_id
		AND mck.keyword_id = ki.id
	</select>

    <select id="findCollectorAndItsKeyValueIndex"
            resultType="cn.yunyichina.log.component.entity.do_.Collector">
		SELECT
			c.id AS 'id',
			c.`name` AS 'name',
			c.group_id AS 'group_id',
			c.service_name AS 'service_name',
			ki.id AS 'kvIndex.id',
			ki.`key` AS 'kvIndex.key',
			ki.`value` AS 'kvIndex.value'
		FROM
			collector c,
			mid_collector_kv mck,
			kv_index ki
		WHERE
			c.id = mck.collector_id
		AND mck.kv_id = ki.id
	</select>

</mapper>