<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.frontEnd.mapper.KeywordeIndexMapper">

    <sql id="tableName">keyword_index</sql>

    <select id="selectAll" resultType="cn.yunyichina.log.common.entity.po.KeywordIndex">
        SELECT * FROM
        <include refid="tableName"/>
    </select>

</mapper>