<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.tracer.mapper.CollectedItemMapper">

    <sql id="table">log_collected_item</sql>

    <select id="selectOne" parameterType="CollectedItemDO" resultType="CollectedItemDO">
        SELECT * FROM
        <include refid="table"/>
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            <if test="applicationName != null">application_name = #{applicationName} AND</if>
        </trim>
    </select>

</mapper>