<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.tracer.mapper.CommonMapper">

    <select id="createTraceTable">
        CREATE TABLE IF NOT EXISTS ${tableName}  (
        `trace_id` char(32) NOT NULL,
        `context_list` json NOT NULL,
        PRIMARY KEY (`trace_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </select>

    <select id="createReverseIndexTable">
        CREATE TABLE IF NOT EXISTS ${tableName} (
        `context_id` char(32) NOT NULL,
        `trace_id` char(32) NOT NULL,
        PRIMARY KEY (`context_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </select>

</mapper>