<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.tracer.mapper.ReverseIndexMapper">

    <insert id="insertList" parameterType="cn.yunyichina.log.service.common.entity.do_.ReverseIndexDO">
        <foreach collection="reverseIndexDOList" item="reverseIndexDO">
            INSERT INTO ${reverseIndexDO.tableName} VALUES
            (#{reverseIndexDO.contextId}, #{reverseIndexDO.traceId})
            ON DUPLICATE KEY UPDATE
            trace_id = #{reverseIndexDO.traceId};
        </foreach>
    </insert>

</mapper>