<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.CollectorMapper">

    <select id="findByCollectorName" parameterType="cn.yunyichina.log.component.entity.do_.Collector"
            resultType="cn.yunyichina.log.component.entity.do_.Collector">
        SELECT
            *
        FROM
            `collector`
        WHERE
            name = #{name}
        AND
            group_id = #{group_id}
        ORDER BY
            create_time DESC
        LIMIT 1
    </select>

    <select id="findByCollectorId" parameterType="java.lang.Integer"
            resultType="cn.yunyichina.log.component.entity.do_.Collector">
        SELECT
        *
        FROM
        `collector`
        WHERE
          id = #{collectorId}
        ORDER BY
        create_time DESC
        LIMIT 1
    </select>

    <insert id="insertOne" parameterType="cn.yunyichina.log.component.entity.do_.Collector">
        INSERT INTO
            collector
        (name,group_id,application_name) VALUES (#{name},#{group_id},#{application_name})
    </insert>

    <select id="selectOne" parameterType="cn.yunyichina.log.component.entity.do_.Collector"
            resultType="cn.yunyichina.log.component.entity.do_.Collector">
        SELECT
        *
        FROM
        collector
        WHERE
        id = #{id}
        ORDER BY
        create_time DESC
        LIMIT 1
    </select>

    <update id="updateOne" parameterType="cn.yunyichina.log.component.entity.do_.Collector">
        UPDATE
        collector
        SET
        `name` = #{name}
        WHERE
        id = #{id}
    </update>


</mapper>