<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.KeyValueTagMapper">

    <select id="selectList" parameterType="cn.yunyichina.log.component.entity.po.KeyValueTag"
            resultType="cn.yunyichina.log.component.entity.po.KeyValueTag">
        SELECT * FROM key_value_tag WHERE application_name = #{application_name}
    </select>

</mapper>