<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.KeyValueTagMapper">

    <sql id="key_value_tag">key_value_tag</sql>

    <select id="selectList" parameterType="cn.yunyichina.log.common.entity.entity.po.KeyValueTag"
            resultType="cn.yunyichina.log.common.entity.entity.po.KeyValueTag">
        SELECT * FROM
        <include refid="key_value_tag"/>
        WHERE application_name = #{application_name}
    </select>

    <select id="selectAll" resultType="cn.yunyichina.log.common.entity.entity.po.KeyValueTag">
        SELECT
        *
        FROM
        <include refid="key_value_tag"/>
    </select>

    <insert id="insertOne" parameterType="cn.yunyichina.log.common.entity.entity.po.KeyValueTag">
        INSERT INTO
        <include refid="key_value_tag"/>(
        collector_name,
        application_name,
        `key`,
        key_tag,
        value_end_tag
        ) values (
        #{collector_name},
        #{application_name},
        #{key},
        #{key_tag},
        #{value_end_tag}
        )
    </insert>

</mapper>