<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.KeywordIndexMapper">

    <resultMap id="midCollectorKeyword" type="cn.yunyichina.log.component.entity.do_.MidCollectorKeyword">
        <result column="id" property="id"/>
        <result column="collector_id" property="collector_id"/>
        <result column="keyword_id" property="keyword_id"/>
        <result column="create_time" property="create_time"/>
    </resultMap>

    <select id="findByName" parameterType="java.lang.String"
            resultType="cn.yunyichina.log.component.entity.do_.KeywordIndex">
        SELECT
            *
        FROM
            keyword_index
        WHERE
            keyword = #{keywordIndexName}
        ORDER BY
            create_time DESC
        LIMIT 1
    </select>

    <insert id="insertOne" parameterType="cn.yunyichina.log.component.entity.do_.KeywordIndex"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            keyword_index
        (keyword) VALUES (#{keyword})
    </insert>

    <insert id="insertMid" parameterType="java.lang.Integer">
        INSERT INTO
        mid_collector_keyword
        (collector_id,keyword_id) VALUES (#{0},#{1})
    </insert>

    <delete id="removeById" parameterType="java.lang.Integer">
        DELETE  FROM
          keyword_index
        WHERE
          id = #{id}
    </delete>

    <select id="findMidCollectorKeyword" parameterType="java.lang.Integer"
            resultType="cn.yunyichina.log.component.entity.do_.MidCollectorKeyword">
        SELECT
          *
        FROM
          mid_collector_keyword
        WHERE
          collector_id = #{0}
        AND
          keyword_id = #{1}
        ORDER BY
          create_time DESC
          LIMIT 1
    </select>

    <select id="selectOne" parameterType="cn.yunyichina.log.component.entity.do_.KeywordIndex"
            resultType="cn.yunyichina.log.component.entity.do_.KeywordIndex">
        SELECT
        *
        FROM
        keyword_index
        WHERE
        id = #{id}
        ORDER BY
        create_time DESC
        LIMIT 1
    </select>

    <update id="updateOne" parameterType="cn.yunyichina.log.component.entity.do_.KeywordIndex">
        UPDATE
        keyword_index
        SET
        keyword = #{keyword}
        WHERE
        id = #{id}
    </update>

    <select id="queryMidByKeywordId" parameterType="java.lang.Integer"
            resultMap="midCollectorKeyword">
        SELECT
          *
        FROM
          mid_collector_keyword
        WHERE
          keyword_id = #{keywordId}
    </select>

    <update id="updateMid" parameterType="java.lang.Integer">
        UPDATE
          mid_collector_keyword
        SET
          keyword_id = #{2}
        WHERE
          collector_id = #{0}
        AND
          keyword_id = #{1}
    </update>

</mapper>