<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunyichina.log.service.api.mapper.KeywordTagMapper">

    <sql id="keyword_tag">keyword_tag</sql>

    <select id="selectAll" resultType="cn.yunyichina.log.common.entity.entity.po.KeywordTag">
        SELECT
        *
        FROM
        <include refid="keyword_tag"/>
    </select>

    <select id="selectList" parameterType="cn.yunyichina.log.common.entity.entity.po.KeywordTag"
            resultType="cn.yunyichina.log.common.entity.entity.po.KeywordTag">
        SELECT * FROM
        <include refid="keyword_tag"/>
        WHERE application_name = #{application_name}
    </select>

    <insert id="insertOne" parameterType="cn.yunyichina.log.common.entity.entity.po.KeywordTag">
        INSERT INTO
        <include refid="keyword_tag"/>(
        collector_name,
        application_name,
        keyword
        ) values (
        #{collector_name},
        #{application_name},
        #{keyword}
        )
    </insert>

</mapper>